<div id="content-wrapper" style="height: 100%">

  <div class="container text-center" >

    <!-- Page Content -->
    <h1 class="display-1">404</h1>
    <p class="lead">Page not found. You can
      <a href="javascript:history.back()">go back</a>
      to the previous page, or <br>
      <a [routerLink]="['/landingPage/']">return home</a> <br>
      <a [routerLink]="['/home/']">or farmer</a> <br>
      <a [routerLink]="['/expert-home/']">or expert</a> <br>
    </p>

  </div>
  <!-- /.container-fluid -->

  <!-- Sticky Footer -->
  <footer class="sticky-footer w-100">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright © Your Website 2019</span>
      </div>
    </div>
  </footer>

</div>